/* Coolors Exported Palette - coolors.co/021e33-4f7395-90bcdc-b7dff7-fff8ef */

/* RGB */
$color1: rgba(2, 30, 51, 1);
$color2: rgba(79, 115, 149, 1);
$color3: rgba(144, 188, 220, 1);
$color4: rgba(183, 223, 247, 1);
$color5: rgba(245, 240, 230, 1);