@import "_palette.scss";
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Lora|Montserrat');

$header : 'Montserrat', sans-serif;
$lead : 'Lora', serif;
$copy : 'Hind Madurai', sans-serif;

html {
    scroll-behavior: smooth;
}

body {
    background-color: lighten($color5, 2%);
    color: $color1;
    font-family: $copy;
    font-feature-settings: "onum" 1;

    @supports (font-variant-numeric: oldstyle-nums) {
        font-feature-settings: normal;
        font-variant-numeric: oldstyle-nums;
    }
}

/* type */
h1, h2, h3 {
    color: $color2;
    font-family: $header;
    font-variant-numeric: lining-nums;
}

h2 {
    color: $color2;
    font-size: 1.6rem;
    font-family: $lead;
}

h3 {
    font-size: 1.4rem;
}

.lead {
    font-family: $lead;
    font-size: 1.1rem;
}

.display-4 {
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 0.2rem;
    font-weight: 600;
    small {
        font-size: 1.4rem;
        color: rgba($color2, 0.8);
    }
}

/* links */
a {
    color: $color2;
    .active {
        color: $color2;
    }
    &:hover {
        color: darken($color3, 10%);
    }
    &:focus {
        color: $color2;
    }
}

/* Nav */


.nav-item {
    line-height: 1.2;
}

.navbar-custom {
    padding-left: 0rem;

    .nav-item {
        font-size: 1.6rem;
        padding-left: 0rem;
    }
    .nav-link {
        padding-left: 0rem;
    }
}
.navbar-brand {    
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    a {
        text-decoration: none;
        color: $color2;
        &:hover {
            color: lighten($color2, 10%);
        }
    }
}

.nav-sub {
    font-size: 1.1rem;
}

#sidenav {
    li {
        line-height: 1;
    }
    .nav-link {
        &.active, &:focus {
            //border-bottom: 1px solid $color2;
            text-decoration: underline; 
        }
    }
    time {
        letter-spacing: 0.08rem;
    }
}

/* main */

.books {
    ul {
        list-style: none;
        padding-left: 0;
    }
    li {
        border-bottom: 1px solid #dee2e6;
        line-height: 1.5rem;
        &:hover {
            background-color: $color5;
        }
    }
    strong {
        font-weight: 400;
        font-size: 1.1rem;
    }
}

/* img */
.img-thumbnail {
    max-width: 220px;
    min-width: 120px;
    background-color: inherit;
}
/*
.main-border {
    border-left: 1px solid #dee2e6;
    
    @media screen and (min-width: 7268px) {
        border: none;
    }
}

*/

/* footer */

footer {
    color: rgba($color1, 0.6);
}

.btop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: $color2;
}