extends layout

block head
  - var title = 'CV'
  title Eva Skåreus - #{title}

block nav
  - var links = []
  - links.push({href: 'project.html', text: 'Utställningar och projekt'})
  - links.push({href: 'posters.html', text: 'Affischer'})
  - links.push({href: 'books.html', text: 'Böcker'})
  - links.push({href: 'cv.html', text: 'CV'})   

  - var cv = []
  - cv.push({title:'Utbildningar' , id: 'utbildningar'})
  - cv.push({title:'Utställningar' , id: 'utställningar'})
  - cv.push({title:'Representerad' , id: 'representerad'})
  - cv.push({title:'Illustratör' , id: 'illustratör'})

  div.col-md-4
    +sitelead('hide')
    nav.navbar-custom.navbar.navbar-expand-md.sticky-top
      .collapse.navbar-collapse#navbar
        ul.nav.flex-column
          each link in links
            +navlink(link.href, link.text)
            if link.href == 'cv.html'
              li
                ul.nav.flex-column#sidenav
                  each item in cv
                    +subnavlink('#' + item.id, item.title)

block content
  main.col-md-8.main-border
    h1.display-4.pb-3 CV Eva Skåreus
    each item in cv
      +section(item.title, item.id)
        case item.id
          when 'utbildningar'
            ul
              li Nyckelviksskolan
              li Handarbetets Vänner
              li Tollare Folkhögskola
              li Teckningslärarutbildning i Umeå
              li Bildterapeut, specialistutbildning i Umeå
              li Filosofie doktorsexamen i pedagogiskt arbete vid Institutionen för estetiska ämnen, Umeå universitet
        case item.id
          when 'utställningar'
            ul
              li Galleri 17, Stockholm -91
              li Västerbottens Museum Höstsalongen / Jubilarens Val, 1992, 1996, 2001, 2002, 2004
              li Stadsbiblioteket Umeå -93, -95, -96
              li Liljevalchs Vårsalongen -93
              li Holmsunds bibliotek -94
              li Nordiskt Forum, Kvinnokonferens, Affischutställning -94
              li Kulturmejeriet Umeå -95, -96, -97
              li Holmöns Båtmuseum, -96
              li BySide Sidewalk, -99
              li Norrbyskär 2000
              li Köpmanholmen 2009, 2013, 2016, 2019
              li öKKV/Galleri Lokomotiv/Örnsköldsviks museum, 2010, 2020
        case item.id
          when 'representerad'
            ul
              li Umeå Kommun, Stadshuset och flera daghem
              li Holmöns skola
              li Sävar Kommundelsnämnd
              li Västerbottens läns landsting
              li Bibliotekens hyllor
              li Västernorrlands läns landsting
        case item.id
          when 'illustratör'
            ul
              li Oräkneliga bokomslag
              li Ett hundratal olika böcker och animationer till sex datorprogram.
              li Står som författare till sju av böckerna.
              li Affischer, bl.a. till Holmöns Visfestival