block footer
  footer.border-top.mt-4.pt-4
    .d-flex.justify-content-between.align-items-center
      address
        strong Kontakt: 
        a(href='mailto:eva@skareus.se') eva@skareus.se

      p © Eva Skåreus 2021
    .d-flex.justify-content-center
      p.text-muted
        small Created by 
          a(href="https://github.com/jensnti") Jens Andreasson 
          | using 
          a(href="https://getbootstrap.com" title="Bootstrap webpage") Bootstrap
          |. 
    a.btop(href='#' title='Back to Top') 
      img(src="images/chevron-up.svg", alt="Back to top", width="32")
