block footer
    footer.border-top.mt-4.pt-4
        a(class='btop' href='#' title='Back to Top') 
            i(class='fas fa-chevron-up fa-3x')

        address.float-left
            strong Eva Skåreus 
            br
            a(href='mailto:eva@skareus.se') eva@skareus.se
        
        p.float-right © Eva Skåreus 2019