block footer
  footer.border-top.mt-4.pt-4.d-flex.justify-content-between
    address
      strong Kontakt:
      br
      a(href='mailto:eva@skareus.se') eva@skareus.se

    p © Eva Skåreus 2019

    a.btop(href='#' title='Back to Top') 
      img(src="images/chevron-up.svg", alt="Back to top", width="32")
