block header
    header.navbar.navbar-light.pl-0
        h1.navbar-brand
            a(href="index.html") Eva Skåreus
        button.navbar-toggler.d-block.d-md-none(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon