extends layout

block head
  - var title = 'Affischer'
  title Eva Skåreus - #{title} 

block nav
  - var links = []
  - links.push({href: 'project.html', text: 'Utställningar och projekt'})
  - links.push({href: 'posters.html', text: 'Affischer'})
  - links.push({href: 'books.html', text: 'Böcker'})
  - links.push({href: 'cv.html', text: 'CV'})   

  div.col-md-4.sticky-top
    +sitelead('hide')
    nav.navbar-custom.navbar.navbar-expand-md.sticky-top
      .collapse.navbar-collapse#navbar
        ul.nav.flex-column
          each link in links
            +navlink(link.href, link.text)

block content
  main.col-md-8.main-border
    h1.display-4.pb-3 Affischer
    section
      p Några affischer producerade under 2000-talet för feministiska/genusvetenskapliga/litterära sammanhang i samarbete med genusvetare, universitetet och Café Pilgatan, samt den första affischen för Holmöns Visfestival från starten 1994.
      .row.py-2
        .container.text-center(data-bs-target='#affischerModal' data-bs-toggle='modal')
          +lightboxlink('aff_emoweb.jpg', 'affischer', 0, 'Emotioner och skandinaviskt genus', 'affischer/')
          +lightboxlink('aff_femweb.jpg', 'affischer', 1, 'Bild, Svenska feminister', 'affischer/')
          +lightboxlink('aff_3web.jpg', 'affischer', 2, 'Genusforskare om aktuella samhällsfrågor', 'affischer/')
      .row.py-2
        .container.text-center(data-bs-target='#affischerModal' data-bs-toggle='modal')
          +lightboxlink('aff_4web.jpg', 'affischer', 3, 'Kryckor som vinglar', 'affischer/')
          +lightboxlink('aff_slideweb.jpg', 'affischer', 4, 'Kvinnliga författare', 'affischer/')
      .row.py-2
        .container.text-center(data-bs-target='#affischerModal' data-bs-toggle='modal')
          +lightboxlink('holmon.jpg', 'affischer', 5, 'Holmöns visfestival', 'affischer/')

    +lightbox(
      'affischer',
      [
        {
          img: 'aff_emostor.jpg',
          alt:  'Emotioner och skandinaviskt genus'
        },
        {
          img: 'aff_femstor.jpg',
          alt:  'Bild, Svenska feminister'
        },
        {
          img: 'aff_3stor.jpg',
          alt:  'Genusforskare om aktuella samhällsfrågor'
        },
        {
          img: 'aff_4stor.jpg',
          alt:  'Kryckor som vinglar'
        },
        {
          img: 'aff_slidestor.jpg',
          alt:  'Kvinnliga författare'
        },
        {
          img: 'holmon.jpg',
          alt:  'Holmöns visfestival'
        }
      ],
      'affischer/'
    )