extends layout

block head
    - var title = 'Affischer'
    title Eva Skåreus - #{title} 

block nav
    - var links = []
    - links.push({href: 'project.html', text: 'Utställningar och projekt'})
    - links.push({href: 'posters.html', text: 'Affischer'})
    - links.push({href: 'books.html', text: 'Böcker'})
    - links.push({href: 'cv.html', text: 'CV'})   

    div.col-md-4.sticky-top
        +sitelead('hide')
        nav.navbar-custom.navbar.navbar-expand-md.sticky-top
            .collapse.navbar-collapse#navbar
                ul.nav.flex-column
                    each link in links
                        +navlink(link.href, link.text)

block content
    main.col-md-8.main-border
        h1.display-4.pb-3 Affischer
        section
            p Några affischer producerade under 2000-talet för feministiska/genusvetenskapliga/litterära sammanhang i samarbete med genusvetare, universitetet och Café Pilgatan, samt den första affischen för Holmöns Visfestival från starten 1994.
            .row.py-2
                .container.text-center
                    +lightboximg('aff_emoweb.jpg', 'aff_emostor.jpg', 'Affischer', 'Emotioner och skandinaviskt genus', 'affischer/')
                    +lightboximg('aff_femweb.jpg', 'aff_femstor.jpg', 'Affischer', 'Bild, Svenska feminister', 'affischer/')
                    +lightboximg('aff_3web.jpg', 'aff_3stor.jpg', 'Affischer', 'Genusforskare om aktuella samhällsfrågor', 'affischer/')
            .row.py-2
                .container.text-center
                    +lightboximg('aff_4web.jpg', 'aff_4stor.jpg', 'Affischer', 'Kryckor som vinglar', 'affischer/')
                    +lightboximg('aff_slideweb.jpg', 'aff_slidestor.jpg', 'Affischer', 'Kvinnliga författare', 'affischer/')
            .row.py-2
                .container.text-center
                    +lightboximg('holmon.jpg', 'holmon.jpg', 'Affischer', 'Holmöns visfestival', 'affischer/')