extends layout

block head
  - var title = 'Utställningar och projekt'
  title Eva Skåreus - #{title}

block nav
  - var links = []
  - links.push({href: 'project.html', text: 'Utställningar och projekt'})
  - links.push({href: 'posters.html', text: 'Affischer'})
  - links.push({href: 'books.html', text: 'Böcker'})
  - links.push({href: 'cv.html', text: 'CV'})   

  - var projects = []
  - projects.push({title: '& (och)', id: 'och2000', year: '2000'})
  - projects.push({title: 'Fotografiateljé', id: 'foto2009', year: '2009'})
  - projects.push({title: 'Köpmanholmens hjärta', id: 'hjärtat2011', year: '2011'})
  - projects.push({title: 'Påstigaren / Lokal Transit', id: 'transit2013', year: '2013'})
  - projects.push({title: 'Köpmanholmens fabriksträdgård', id: 'fabriksträdgården2015', year: '2015'})
  //- - projects.push({title: 'Skisser arkivsalen', id: 'archive2017', year: '2017'})
  - projects.push({title: 'Det hänger på konsten', id: 'konst2016', year: '2016'})
  - projects.push({title: 'Arkivsalen', id: 'arkivsalen2018', year: '2018'})
  - projects.push({title: 'Samlingsutställning  ', id: 'samling2019', year: '2019'})
  - projects.push({title: 'Prydnadsapelallé', id: 'alle2020', year: '2020'})
  - projects = projects.reverse()

  div.col-md-4
    +sitelead('hide')
    nav.navbar-custom.navbar.navbar-expand-md.sticky-top
      .collapse.navbar-collapse#navbar
        ul.nav.flex-column
          each link in links
            +navlink(link.href, link.text)
            if link.href == 'project.html'
              li
                ul.nav.flex-column#sidenav
                  each project in projects
                    +subnavlink('#' + project.id, project.title, project.year)

block content
  main#content.col-md-8.main-border
    h1.display-4.pb-3 Utställningar och projekt
    each project in projects
      +section(project.title, project.id, project.year)
        case project.id
          when 'alle2020'
            p
              | Sommaren 2020 planterade föreningen Köpmanholmens fabriksträdgård 
              | en prydnadsapelallé i fabriksträdgården. Det blev en avslutande 
              | sal väster om Arkivsalen. Samtliga träd kunde inhandlas och 
              | planteras tack vare gåvor från privatpersoner och några lokala 
              | företag. Fotografiet är från en dimmig höstdag 2020.
            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
              +lightboxlink('1_low.jpg', '1.jpeg', 'Prydnadsapelallé', 'utsproj/recent/')
          when 'samling2019'
            p Tillsammans med Bill Olson arrangerade jag en kortare sommarutställning 2019 i Tvättstugan i Köpmanholmen.
            p Läs mer om utställningen här, 
              a(href="pdf/2.pdf" title="Tidningsartikel PDF") tidningsartikel i pdf format
              | .
          when 'arkivsalen2018'
            p Arkivsalen är den andra salen i Köpmanholmens fabriksträdgård, det 
              | vill säga fortsättningen av det konstnärliga projektet tillsammans  
              | med Anna Kristensen och styrelsen i föreningen. I Arkivsalen har 
              | olika material knutna till fabriken samlats i ett stort rutmönster 
              | på marken. Arkivsalen blev möjlig att bygga tack vare bidrag från Kulturbryggan.
            p
              a(rel="noopener" href="http://blog.skareus.se/arkivsalen/" title="Arkivsalen" target="_blank") Arkivsalen
              | .
          when 'konst2016'
            p Samlingsutställningen ”Det hänger på konsten” arrangerades av 
              | Bill Olson i Tvättstugan i Köpmanholmen. Medverkande konstnärer 
              | var Bill Olson, Lars Ahlström, Anna Kristensen, Nic Langendoen och Eva Skåreus.
              | Bild 5 och 6 av Eva Skåreus, digital print + akvarell.
            p Läs mer om utställningen här, 
              a(href="pdf/art4oa.pdf" title="Tidningsartikel ÖA, PDF") tidningsartikel från ÖA, pdf format
              | .
            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
              +lightboxlink('4_1_thumb.jpg', '4_1.jpg', 'Det hänger på konsten', 'utsproj/recent/')
              +lightboxlink('4_2_thumb.jpg', '4_2.jpg', 'Det hänger på konsten', 'utsproj/recent/')
              +lightboxlink('4_3_thumb.jpg', '4_3.jpg', 'Det hänger på konsten', 'utsproj/recent/')
              +lightboxlink('4_4_thumb.jpg', '4_4.jpg', 'Det hänger på konsten', 'utsproj/recent/')
              +lightboxlink('4_5_thumb.jpg', '4_5.jpg', 'Det hänger på konsten', 'utsproj/recent/')
              +lightboxlink('4_6_1_thumb.jpg', '4_6_1.jpg', 'Det hänger på konsten', 'utsproj/recent/')
          when 'fabriksträdgården2015'
            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
                img.img-fluid.rounded(src='images/fabrikstrad.jpg' alt='Fabriksträdgården')
            p Fabriksträdgården är en permanent konstinstallation av växter, stockar, stenar, tegel, trä grus, m.m.  Syftet med fabriksträdgården är att uppmärksamma området både för vad det varit och vad det kan bli – att gestalta en syntetisering av gammalt och nytt.
            p Idén om Fabriksträdgården har vuxit fram under flera år och de skisser som idag finns omfattar delar av en besöksträdgård som sträcker sig utmed Bruksvägen, från Djuphamnsvägen till gamla Byskillnadsvägen ungefär mitt emot Tvättstugans västra gavel. Genom fabriksträdgården vill vi väcka nyfikenhet bland de som promenerar genom området, tankar om den verksamhet som här bedrevs och förståelse för den. Livet som fabriksarbetare var både farligt och giftigt, men samtidigt var fabriken förutsättningen för alla människor som bodde här och att Köpmanholmen byggdes och växte.
            p Idag är marken på fabriksområdet sanerad även om vissa delar fortfarande inte duger till att odla grönsaker på. På den sidan av Bruksvägen där Fabriksträdgården finns är det dock inga gifter kvar i marken, det är nogsamt kontrollerat.
            p Fabriksträdgården omfattar både konstinstallationer och planteringar, en blandning av växter och skulpturala konstruktioner. Genom dessa vill vi uppmärksamma både det nedlagda bruket, industrihistorien, den arbetarkultur som var, mötet med nutiden, människorna på platsen idag och de minnen som snart är glömda.
            p Området vi hyr av Örnsköldsvik kommun är ca 350 meter långt och drygt 10 meter brett. Projektet drivs av en ideell förening, Köpmanholmens fabriksträdgård, och salarna har finansierats av Kulturbryggan, Nätterlundsstiftelsen, Mikko Anderssons stiftelse samt våra privata sponsorer som alla finns namngivna på plaketterna under skylten i området.
            p Läs mer om projektet på 
              a(rel="noopener" href='http://blog.skareus.se' title='Länk till webbplats för Köpmanholmens fabriksträdgård' target='_blank') Köpmanholmens fabriksträdgård
              | .
            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
                img.img-fluid.rounded(src='images/flybild.jpg' alt='Flygbild över området')
          when 'transit2013'
            p En dag i juli 2013, när sommaren var som bäst och solen värmde gott, var dessa människor nere på kajen i Köpmanholmen. De var tillfälliga besökare i skärgårdsbåtarnas väntkur. Några var långvägsresenärer, från Tjeckien eller Norge, medan andra bodde nästgårds och tog tillfället i akt att ta sig ner på kajen eller åka ut i skärgården en varm sommardag.
            p För att kunna ta båten, till Trysunda, Strängöarna eller Ulvön, måste du som passagerare gå genom väntkuren, dvs för en kort stund vara i transit. Statistiken säger att ca 50.000 människor passerar där varje år. 50.000 i transit på Köpmanholmens kaj…
            p Väntkuren är inte viktigt i sig, en plats man passerar, men en plats som på ett eller annat sätt påverkar människors identitet. Den utgör en gräns att passera inom vilken man till exempel går från bilresenär till båtresenär, från stadsbo till tillfällig skärgårdsbo, från besökare till hemmahörande. Man är i transit, ska bara genom, på väg bort, någon annanstans. Väntkuren är enbart namngivet som kur på en skylt inne i byggnaden. över ingången står det ”Påstigande”. När du går in i byggnaden tillhör du alltså kategorin ”påstigande” oavsett om du tänker stiga på båten eller inte.
            p 
              em Tack alla påstigare som ville delta i detta konstprojekt!
            ul
              li
                a(target='_blank' href='eva/info.pdf' title='Länk till PDF dokument om projektet') PDF om Påstigaren / Lokal Transit
              li
                a(rel="noopener" target='_blank' href='http://www.volym.info/Arkiv/Reportage/2013/EvaSkareus/EvaSkareus.html') Artikel om projektet i Volym

            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
                +lightboxlink('show1web.jpg', 'show1_stor.jpg', 'Från utställningen på restaurang Kajen', 'utsproj/transit/')
                +lightboxlink('show2web.jpg',  'show2_stor.jpg', 'Från utställningen på restaurang Kajen', 'utsproj/transit/')
                +lightboxlink('kurweb.jpg', 'kur_stor.jpg', 'Väntkuren på Köpmanholmens kaj, exteriör', 'utsproj/transit/')
                +lightboxlink('kur2web.jpg', 'kur2_stor.jpg', 'Väntkuren på Köpmanholmens kaj, interiör', 'utsproj/transit/')
                +lightboxlink('kur3web.jpg', 'kur3_stor.jpg', 'Väntkuren på Köpmanholmens kaj, interiör', 'utsproj/transit/')
          when 'hjärtat2011'
            p
              em – en dahliarabatt i det gamla fabriksområdet
            p Under sommaren 2011 genomförde jag ett konstprojekt i Köpmanholmens gamla fabriksområde. Projektet var en blomsterrabatt i form av ett hjärta, bestående av 440 dahlior och 112 silverekar och några solrosor samlade i en egen rabatt.
            p Den 2–3 juli bjöd jag inKöpmanholmsborna att hjälpa till med planteringen. Ett 30-tal personer kom. Tre tältstolar fick sedan stå kvar (efter fikaserveringen) som en del av konstprojektet och som en inbjudan för besökare att sitta ner och titta på hjärtat. Under hela sommaren blev ”Köpmanholmens hjärta” en mötesplats för många besökare. Den 16:e oktober plockades alla blommor bort.
            p Tankarna bakom projektet var att uppmärksamma industriområdet genom ett platsspecifikt konstverk och därigenom skapa någon form av återupprättelse, att göra platsen synligt igen, men på ett annat sätt än tidigare. Fram till mitten av 1980-talet var området tätt bebyggt med hus och industribyggnader som tillhörde bruket. Sedan revs allt och idag är det ett ingemansland, tomt och övergivet. För gamla Köpmanholmsbor verkar området mer eller mindre som en spökby, ”där stod cisternerna och där var förmansbostaden, Konsum 1:an och huggeriet”, medan för besökaren utan historisk förankring är det en flack slätt med utsikt över fjärden. Men det är också Köpmanholmens gamla hjärta, den plats där arbetet låg och den plats som utgjorde motorn i samhällsbygget.
            p Projektet genomfördes med stöd från Nätterlundsstiftelsen, MIVA och Bjästa Handelsträdgård.
            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
                +lightboxlink('heartskissweb.jpg', 'heartskiss_stor.jpg','Skiss av hjärtat', 'utsproj/heart/')
                +lightboxlink('heart2web.jpg', 'heart2_stor.jpg','Hjärtat i september, lite från ovan', 'utsproj/heart/')
                +lightboxlink('heart1web.jpg', 'heart1_stor.jpg', 'Planteringen med utsikt mot fjärden', 'utsproj/heart/')
                +lightboxlink('plant1web.jpg', 'plant1_stor.jpg', 'Första planteringsdagen', 'utsproj/heart/')
                +lightboxlink('plant2web.jpg', 'plant2_stor.jpg', 'Första planteringsdagen', 'utsproj/heart/')
                +lightboxlink('plant3web.jpg', 'plant3_stor.jpg', 'Första planteringsdagen', 'utsproj/heart/')
                +lightboxlink('rosweb.jpg', 'ros_stor.jpg', 'Solrosorna och hjärtat', 'utsproj/heart/')
                +lightboxlink('heart3web.jpg', 'heart3_stor.jpg', 'Utställningen', 'utsproj/heart/')
          when 'foto2009'
            p
              | Under 2009 fyllde den gamla fotografiateljén i Köpmanholmen 80 år. 
              | För att fira det bjöd jag in Holmenborna under fyra dagar i juli 
              | till en friluftsateljé i trädgården. En stol, en innerdörr och 
              | trädgårdens grönska utgjorde ateljé, som en replik av dåtida 
              | fotografiateljéers målade fondväggar av grönska och balustrader 
              | samt en obligatorisk stol framför. Inbjudan resulterade i 53 
              | fotografier som visades på restaurangen Kajen.
            ul
              li
                a(target='_blank' href='eva/info_proj.pdf' title='Länk till PDF dokument om projektet')
                  | PDF om projektet Fotografateljé
              li
                a(target='_blank' href='eva/artikel-allehanda.se.pdf' title='Artikel från allehanda.se i PDF format')
                  | En gammal fotoateljé återuppstår - Artiklar - allehanda.se
            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
                +lightboxlink('kvinnaweb.jpg', 'kvinnaweb.jpg', 'Kvinna', 'utsproj/fotoatelje/')
                +lightboxlink('manweb.jpg', 'manweb.jpg', 'Man', 'utsproj/fotoatelje/')
                +lightboxlink('uteateljeweb.jpg', 'uteatelje_stor.jpg', 'Uteteljé', 'utsproj/fotoatelje/')
                +lightboxlink('utst1web.jpg', 'utst1web.jpg', 'Utställningen', 'utsproj/fotoatelje/')
                +lightboxlink('utst2web.jpg', 'utst2_stor.jpg', 'Utställningen', 'utsproj/fotoatelje/')
          when 'och2000'
            p Sommaren 2000 genomförde 
              a(rel="noopener" target='_blank' href='http://www.kim.konstdesign.nu/') Kim Stenlund 
              | och jag en utställning på Norrbyskär. Kim visade smycken och 
              | textila bilder medan jag visade akvareller, digitaliserade 
              | akvareller och akvarelliserade digitaler med rosor och clownen.
            h3 Rosor
            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
              +lightboxlink('amoros2.jpg',     'amorosa.jpg', 'Amorosa',  'utsproj/rosor/')
              +lightboxlink('barblik2.jpg',    'barbarlik.jpg', 'Barbara Liksom',  'utsproj/rosor/')
              +lightboxlink('beckask2.jpg',    'beckoaska.jpg', 'Beck & Aska',  'utsproj/rosor/')
              +lightboxlink('mifigl2.jpg',     'miafigl.jpg', 'Mia Figlia', 'utsproj/rosor/')
              +lightboxlink('minetros2.jpg',   'minetroset.jpg', 'Minetta Rosetta',     'utsproj/rosor/')
              +lightboxlink('nattdrot2.jpg',   'nattdrottn.jpg', 'Nattens Drottning',   'utsproj/rosor/')
              +lightboxlink('redros2.jpg',     'redros.jpg', 'Rosa Liksom',         'utsproj/rosor/')
              +lightboxlink('rosaalba2.jpg',   'rosaalba.jpg', 'Rosa Alba',           'utsproj/rosor/')
              +lightboxlink('rosabor2.jpg',     'rosabort.jpg', 'Rosa Bortom',        'utsproj/rosor/')
              +lightboxlink('rosafor2.jpg',     'rosaforut.jpg', 'Rosa Förutom',       'utsproj/rosor/')
              +lightboxlink('rosbarb2.jpg',     'rosbarb.jpg', 'Rose Barbara',       'utsproj/rosor/')
              +lightboxlink('roscalpet2.jpg',   'roscalpet.jpg', 'Violetta Scalpetta', 'utsproj/rosor/')
              +lightboxlink('roselect2.jpg',    'roselect.jpg', 'Rosa Electra',   'utsproj/rosor/')
              +lightboxlink('roshit2.jpg',      'roshitom.jpg', 'Rosa Hitom',     'utsproj/rosor/')
              +lightboxlink('rosros2.jpg',      'rosrosa.jpg', 'Rosa Rosa',      'utsproj/rosor/')
              +lightboxlink('rosvelv2.jpg',     'rosvelvet.jpg', 'Rosa Velvet',    'utsproj/rosor/')
              +lightboxlink('rosvendet2.jpg',    'rosvendett.jpg', 'Rosa Vendetta',    'utsproj/rosor/')
              +lightboxlink('rosveron2.jpg',     'rosverona.jpg', 'Rosa Verona',      'utsproj/rosor/')
              +lightboxlink('rosvirgin2.jpg',     'rosvirgina.jpg', 'Rosa Virgina',     'utsproj/rosor/')
              +lightboxlink('waldrem2.jpg',       'wallandream.jpg', 'Wallanders Dröm',  'utsproj/rosor/')
            h3 Clowner
            .d-flex.flex-sm-wrap.flex-column.flex-sm-row.justify-content-evenly.align-items-center
              +lightboxlink('bal1typ2.jpg',  'bal1typ.jpg', 'Balans 1', 'utsproj/clowner/')
              +lightboxlink('balans22.jpg', 'balans22.jpg', 'Balans 2', 'utsproj/clowner/')
              +lightboxlink('balans32.jpg',  'balans3.jpg', 'Balans 3', 'utsproj/clowner/')
              +lightboxlink('balans42.jpg',  'balans4.jpg', 'Balans 4', 'utsproj/clowner/')
              +lightboxlink('balans52.jpg',  'balans5.jpg', 'Balans 5', 'utsproj/clowner/')
              +lightboxlink('balans62.jpg',  'balans6.jpg', 'Balans 6', 'utsproj/clowner/')

block scripts
  script(src="javascript/loader.js")