extends layout

block head
  - var title = 'Utställningar och projekt'
  title Eva Skåreus - #{title}

block nav
  - var links = []
  - links.push({href: 'project.html', text: 'Utställningar och projekt'})
  - links.push({href: 'posters.html', text: 'Affischer'})
  - links.push({href: 'books.html', text: 'Böcker'})
  - links.push({href: 'cv.html', text: 'CV'})   

  - var projects = []
  - projects.push({title: '& (och)', id: 'och2000', year: '2000'})
  - projects.push({title: 'Fotografiateljé', id: 'foto2009', year: '2009'})
  - projects.push({title: 'Köpmanholmens hjärta', id: 'hjärtat2011', year: '2011'})
  - projects.push({title: 'Påstigaren / Lokal Transit', id: 'transit2013', year: '2013'})
  - projects.push({title: 'Köpmanholmens fabriksträdgård', id: 'fabriksträdgården2015', year: '2015'})
  //- - projects.push({title: 'Skisser arkivsalen', id: 'archive2017', year: '2017'})
  - projects.push({title: 'Det hänger på konsten', id: 'konst2016', year: '2016'})
  - projects.push({title: 'Arkivsalen', id: 'arkivsalen2018', year: '2018'})
  - projects.push({title: 'Samlingsutställning  ', id: 'samling2019', year: '2019'})
  - projects.push({title: 'Prydnadsapelallé', id: 'alle2020', year: '2020'})
  - projects = projects.reverse()

  div.col-md-4
    +sitelead('hide')
    nav.navbar-custom.navbar.navbar-expand-md.sticky-top
      .collapse.navbar-collapse#navbar
        ul.nav.flex-column
          each link in links
            +navlink(link.href, link.text)
            if link.href == 'project.html'
              ul.nav.flex-column#sidenav
                each project in projects
                  +subnavlink('#' + project.id, project.title, project.year)

block content
  main.col-md-8.main-border
    h1.display-4.pb-3 Utställningar och projekt
    each project in projects
      +section(project.title, project.id, project.year)
        case project.id
          when 'alle2020'
            p
              | Sommaren 2020 planterade föreningen Köpmanholmens fabriksträdgård 
              | en prydnadsapelallé i fabriksträdgården. Det blev en avslutande 
              | sal väster om Arkivsalen. Samtliga träd kunde inhandlas och 
              | planteras tack vare gåvor från privatpersoner och några lokala 
              | företag. Fotografiet är från en dimmig höstdag 2020.
          when 'samling2019'
            p leder till kort text och artikel (pdf) om utställningen (ÖA)
          when 'arkivsalen2018'
            p länk till fabriksträdgårdens sida om Arkivsalen (ska öppnas i egen flik)
          when 'konst2016'
            p kort text + 6 bilder samt tidningsartikel pdf. 
          when 'fabriksträdgården2015'
            p 
              em Har du någonsin besökt Köpmanholmen i Västernorrland?
            p Köpmanholmen är ett gammalt brukssamhälle som ligger i Höga Kusten, vid havet, ca 3 mil söder om Örnsköldsvik. Det är också från Köpmanholmen som den fasta förbindelsen med Ulvön och Trysunda finns, några av de öar som ingår i Höga kustens skärgård.
            p Den mark i Köpmanholmen, som fram till 1980-talet var bebyggd av fabrikshus, traverser och magasin, är idag sanerad, de flesta byggnader är rivna och området är stort och platt med utsikt över fjärden och den nuvarande industrihamnen.
            p Här, i det gamla fabriksområdet, bygger vi en besöksträdgård, en permanent konstinstallation till glädje för alla som rör sig i området.
            p Läs mer om projektet på 
              a(href='http://blog.skareus.se' title='Länk till webbplats för Köpmanholmens fabriksträdgård' target='_blank') Köpmanholmens fabriksträdgård
              | .
            .row.py-2
              .container.text-center
                img.img-fluid.rounded(src='images/vy.jpg' alt='Vy över delar av det gamla fabriksområdet')
          when 'transit2013'
            p En dag i juli 2013, när sommaren var som bäst och solen värmde gott, var dessa människor nere på kajen i Köpmanholmen. De var tillfälliga besökare i skärgårdsbåtarnas väntkur. Några var långvägsresenärer, från Tjeckien eller Norge, medan andra bodde nästgårds och tog tillfället i akt att ta sig ner på kajen eller åka ut i skärgården en varm sommardag.
            p För att kunna ta båten, till Trysunda, Strängöarna eller Ulvön, måste du som passagerare gå genom väntkuren, dvs för en kort stund vara i transit. Statistiken säger att ca 50.000 människor passerar där varje år. 50.000 i transit på Köpmanholmens kaj…
            p Väntkuren är inte viktigt i sig, en plats man passerar, men en plats som på ett eller annat sätt påverkar människors identitet. Den utgör en gräns att passera inom vilken man till exempel går från bilresenär till båtresenär, från stadsbo till tillfällig skärgårdsbo, från besökare till hemmahörande. Man är i transit, ska bara genom, på väg bort, någon annanstans. Väntkuren är enbart namngivet som kur på en skylt inne i byggnaden. över ingången står det ”Påstigande”. När du går in i byggnaden tillhör du alltså kategorin ”påstigande” oavsett om du tänker stiga på båten eller inte.
            p 
              em Tack alla påstigare som ville delta i detta konstprojekt!
            ul
              li
                a(target='_blank' href='eva/info.pdf' title='Länk till PDF dokument om projektet') PDF om Påstigaren / Lokal Transit
              li
                a(target='_blank' href='http://www.volym.info/Arkiv/Reportage/2013/EvaSkareus/EvaSkareus.html') Artikel om projektet i Volym

            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('show1web.jpg',  project.id, 0, 'Från utställningen på restaurang Kajen', 'utsproj/transit/')
                +lightboxlink('show2web.jpg',  project.id, 1, 'Från utställningen på restaurang Kajen', 'utsproj/transit/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('kurweb.jpg', project.id, 2, 'Väntkuren på Köpmanholmens kaj, exteriör', 'utsproj/transit/')
                +lightboxlink('kur2web.jpg', project.id, 3, 'Väntkuren på Köpmanholmens kaj, interiör', 'utsproj/transit/')
                +lightboxlink('kur3web.jpg', project.id, 4, 'Väntkuren på Köpmanholmens kaj, interiör', 'utsproj/transit/')
          when 'hjärtat2011'
            p
              em – en dahliarabatt i det gamla fabriksområdet
            p Under sommaren 2011 genomförde jag ett konstprojekt i Köpmanholmens gamla fabriksområde. Projektet var en blomsterrabatt i form av ett hjärta, bestående av 440 dahlior och 112 silverekar och några solrosor samlade i en egen rabatt.
            p Den 2–3 juli bjöd jag inKöpmanholmsborna att hjälpa till med planteringen. Ett 30-tal personer kom. Tre tältstolar fick sedan stå kvar (efter fikaserveringen) som en del av konstprojektet och som en inbjudan för besökare att sitta ner och titta på hjärtat. Under hela sommaren blev ”Köpmanholmens hjärta” en mötesplats för många besökare. Den 16:e oktober plockades alla blommor bort.
            p Tankarna bakom projektet var att uppmärksamma industriområdet genom ett platsspecifikt konstverk och därigenom skapa någon form av återupprättelse, att göra platsen synligt igen, men på ett annat sätt än tidigare. Fram till mitten av 1980-talet var området tätt bebyggt med hus och industribyggnader som tillhörde bruket. Sedan revs allt och idag är det ett ingemansland, tomt och övergivet. För gamla Köpmanholmsbor verkar området mer eller mindre som en spökby, ”där stod cisternerna och där var förmansbostaden, Konsum 1:an och huggeriet”, medan för besökaren utan historisk förankring är det en flack slätt med utsikt över fjärden. Men det är också Köpmanholmens gamla hjärta, den plats där arbetet låg och den plats som utgjorde motorn i samhällsbygget.
            p Projektet genomfördes med stöd från Nätterlundsstiftelsen, MIVA och Bjästa Handelsträdgård.
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('heartskissweb.jpg', project.id, 0, 'Skiss av hjärtat', 'utsproj/heart/')
                +lightboxlink('heart2web.jpg', project.id, 1, 'Hjärtat i september, lite från ovan', 'utsproj/heart/')
                +lightboxlink('heart1web.jpg', project.id, 2, 'Planteringen med utsikt mot fjärden', 'utsproj/heart/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('plant1web.jpg', project.id, 3, 'Första planteringsdagen', 'utsproj/heart/')
                +lightboxlink('plant2web.jpg', project.id, 4, 'Första planteringsdagen', 'utsproj/heart/')
                +lightboxlink('plant3web.jpg', project.id, 5, 'Första planteringsdagen', 'utsproj/heart/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('rosweb.jpg', project.id, 6, 'Solrosorna och hjärtat', 'utsproj/heart/')
          when 'foto2009'
            p
              | Under 2009 fyllde den gamla fotografiateljén i Köpmanholmen 80 år. 
              | För att fira det bjöd jag in Holmenborna under fyra dagar i juli 
              | till en friluftsateljé i trädgården. En stol, en innerdörr och 
              | trädgårdens grönska utgjorde ateljé, som en replik av dåtida 
              | fotografiateljéers målade fondväggar av grönska och balustrader 
              | samt en obligatorisk stol framför. Inbjudan resulterade i 53 
              | fotografier som visades på restaurangen Kajen.
            ul
              li
                a(target='_blank' href='eva/info_proj.pdf' title='Länk till PDF dokument om projektet')
                  | PDF om projektet Fotografateljé
              li
                a(target='_blank' href='eva/artikel-allehanda.se.pdf' title='Artikel från allehanda.se i PDF format')
                  | En gammal fotoateljé återuppstår - Artiklar - allehanda.se
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('kvinnaweb.jpg', project.id, 0, 'Kvinna', 'utsproj/fotoatelje/')
                +lightboxlink('manweb.jpg', project.id, 1, 'Man', 'utsproj/fotoatelje/')
                +lightboxlink('uteateljeweb.jpg', project.id, 2, 'Uteteljé', 'utsproj/fotoatelje/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('utst1web.jpg', project.id, 3, 'Utställningen', 'utsproj/fotoatelje/')
                +lightboxlink('utst2web.jpg', project.id, 4, 'Utställningen', 'utsproj/fotoatelje/')
          when 'och2000'
            p Sommaren 2000 genomförde 
              a(target='_blank' href='http://www.kim.konstdesign.nu/') Kim Stenlund 
              | och jag en utställning på Norrbyskär. Kim visade smycken och 
              | textila bilder medan jag visade akvareller, digitaliserade 
              | akvareller och akvarelliserade digitaler med rosor och clownen.
            h3 Rosor
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('amoros2.jpg',     project.id, 0, 'Amorosa',  'utsproj/rosor/')
                +lightboxlink('barblik2.jpg',    project.id, 1, 'Barbara Liksom',  'utsproj/rosor/')
                +lightboxlink('beckask2.jpg',    project.id, 2, 'Beck & Aska',  'utsproj/rosor/')
                +lightboxlink('mifigl2.jpg',     project.id, 3, 'Mia Figlia', 'utsproj/rosor/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('minetros2.jpg',   project.id, 4, 'Minetta Rosetta',     'utsproj/rosor/')
                +lightboxlink('nattdrot2.jpg',   project.id, 5, 'Nattens Drottning',   'utsproj/rosor/')
                +lightboxlink('redros2.jpg',     project.id, 6, 'Rosa Liksom',         'utsproj/rosor/')
                +lightboxlink('rosaalba2.jpg',   project.id, 7, 'Rosa Alba',           'utsproj/rosor/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('rosabor2.jpg',     project.id, 8, 'Rosa Bortom',        'utsproj/rosor/')
                +lightboxlink('rosafor2.jpg',     project.id, 9, 'Rosa Förutom',       'utsproj/rosor/')
                +lightboxlink('rosbarb2.jpg',     project.id, 10, 'Rose Barbara',       'utsproj/rosor/')
                +lightboxlink('roscalpet2.jpg',   project.id, 11, 'Violetta Scalpetta', 'utsproj/rosor/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('roselect2.jpg',    project.id, 12, 'Rosa Electra',   'utsproj/rosor/')
                +lightboxlink('roshit2.jpg',      project.id, 13, 'Rosa Hitom',     'utsproj/rosor/')
                +lightboxlink('rosros2.jpg',      project.id, 14, 'Rosa Rosa',      'utsproj/rosor/')
                +lightboxlink('rosvelv2.jpg',     project.id, 15, 'Rosa Velvet',    'utsproj/rosor/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'Modal' data-bs-toggle='modal')
                +lightboxlink('rosvendet2.jpg',     project.id, 16, 'Rosa Vendetta',    'utsproj/rosor/')
                +lightboxlink('rosveron2.jpg',      project.id, 17, 'Rosa Verona',      'utsproj/rosor/')
                +lightboxlink('rosvirgin2.jpg',     project.id, 18, 'Rosa Virgina',     'utsproj/rosor/')
                +lightboxlink('waldrem2.jpg',       project.id, 19, 'Wallanders Dröm',  'utsproj/rosor/')
            h3 Clowner
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'clownModal' data-bs-toggle='modal')
                +lightboxlink('bal1typ2.jpg',  project.id + 'clown', 0, 'Balans 1', 'utsproj/clowner/')
                +lightboxlink('balans22.jpg',  project.id + 'clown', 1, 'Balans 2', 'utsproj/clowner/')
                +lightboxlink('balans32.jpg',  project.id + 'clown', 2, 'Balans 3', 'utsproj/clowner/')
            .row.py-2
              .container.text-center(data-bs-target='#' + project.id + 'clownModal' data-bs-toggle='modal')
                +lightboxlink('balans42.jpg',  project.id + 'clown', 3, 'Balans 4', 'utsproj/clowner/')
                +lightboxlink('balans52.jpg',  project.id + 'clown', 4, 'Balans 5', 'utsproj/clowner/')
                +lightboxlink('balans62.jpg',  project.id + 'clown', 5, 'Balans 6', 'utsproj/clowner/')

    +lightbox(
      'transit2013',
      [
        {
          img: 'show1_stor.jpg',
          alt:  'Från utställningen på restaurang Kajen'
        },
        {
          img: 'show2_stor.jpg',
          alt: 'Från utställningen på restaurang Kajen'
        },
        {
          img: 'kur_stor.jpg',
          alt: 'Väntkuren på Köpmanholmens kaj, exteriör'
        },
        {
          img: 'kur2_stor.jpg',
          alt: 'Väntkuren på Köpmanholmens kaj, exteriör'
        },
        {
          img: 'kur3_stor.jpg',
          alt: 'Väntkuren på Köpmanholmens kaj, exteriör'
        }
      ],
      'utsproj/transit/'
    )

    +lightbox(
      'hjärtat2011',
      [
        {
          img: 'heartskiss_stor.jpg',
          alt: 'Skiss av hjärtat'
        },
        {
          img: 'heart2_stor.jpg',
          alt: 'Hjärtat i september, lite från ovan'
        },
        {
          img: 'heart1_stor.jpg',
          alt: 'Planteringen med utsikt mot fjärden'
        },
        {
          img: 'plant1_stor.jpg',
          alt: 'Första planteringsdagen'
        },
        {
          img: 'plant2_stor.jpg',
          alt: 'Första planteringsdagen'
        },
        {
          img: 'plant3_stor.jpg',
          alt: 'Första planteringsdagen'
        },
        {
          img: 'ros_stor.jpg',
          alt:  'Utställningen'
        },
        {
          img: 'heart3_stor.jpg',
          alt:  'Utställningen'
        }
      ],
      'utsproj/heart/'
    )

    +lightbox(
      'foto2009',
      [
        {
          img: 'kvinnaweb.jpg',
          alt: 'Kvinna'
        },
        {
          img: 'manweb.jpg',
          alt: 'Man'
        },
        {
          img: 'uteatelje_stor.jpg',
          alt: 'Uteteljé'
        },
        {
          img: 'utst1web.jpg',
          alt: 'Utställningen'
        },
        {
          img: 'utst2_stor.jpg',
          alt: 'Utställningen'
        }
      ],
      'utsproj/fotoatelje/'
    )
    +lightbox(
      'och2000',
      [
        {
          img: 'amorosa.jpg',
          alt: 'Amorosa'
        },
        {
          img: 'barbarlik.jpg',
          alt: 'Barbara Liksom'
        },
        {
          img: 'beckoaska.jpg',
          alt: 'Beck & Aska'
        },
        {
          img: 'miafigl.jpg',
          alt: 'Mia Figlia'
        },
        {
          img: 'minetroset.jpg',
          alt: 'Minetta Rosetta'
        },
        {
          img: 'nattdrottn.jpg',
          alt: 'Nattens Drottning'
        },
        {
          img: 'redros.jpg',
          alt: 'Rosa Liksom'
        },
        {
          img: 'rosaalba.jpg',
          alt: 'Rosa Alba'
        },
        {
          img: 'rosabort.jpg',
          alt: 'Rosa Bortom'
        },
        {
          img: 'rosaforut.jpg',
          alt: 'Rosa Förutom'
        },
        {
          img: 'rosbarb.jpg',
          alt: 'Rose Barbara'
        },
        {
          img: 'roscalpet.jpg',
          alt: 'Violetta Scalpetta'
        },
        {
          img: 'roselect.jpg',
          alt: 'Rosa Electra'
        },
        {
          img: 'roshitom.jpg',
          alt: 'Rosa Hitom'
        },
        {
          img: 'rosrosa.jpg',
          alt: 'Rosa Rosa'
        },
        {
          img: 'rosvelvet.jpg',
          alt: 'Rosa Velvet'
        },
        {
          img: 'rosvendett.jpg',
          alt: 'Rosa Vendetta'
        },
        {
          img: 'rosverona.jpg',
          alt: 'Rosa Verona'
        },
        {
          img: 'rosvirgina.jpg',
          alt: 'Rosa Virgina'
        },
        {
          img: 'wallandream.jpg',
          alt: 'Wallanders Dröm'
        }
      ],
      'utsproj/rosor/'
    )
    +lightbox(
      'och2000clown',
      [
        {
          img: 'bal1typ.jpg',
          alt: 'Balans 1'
        },
        {
          img: 'balans22.jpg',
          alt: 'Balans 2'
        },
        {
          img: 'balans3.jpg',
          alt: 'Balans 3'
        },
        {
          img: 'balans4.jpg',
          alt: 'Balans 4'
        },
        {
          img: 'balans5.jpg',
          alt: 'Balans 5'
        },
        {
          img: 'balans6.jpg',
          alt: 'Balans 6'
        }
      ],
      'utsproj/clowner/'
    )














 




  
 






       




